{% extends 'App/layout.html.twig' %}

{% block title %}Osteopathie chez les Enfants et les adolescents{% endblock %}
{% block description %}Osteopathie chez les Enfants et les adolescents - Conseils en cas de douleurs{% endblock %}

{% block body %}

<h1>Il est conseillé de ramener votre enfant ou votre adolescent pour :</h1>

<h2>Douleurs liées à la croissance</h2>
Lorsque que votre enfant ou votre adolescent sont en pleine croissance, ils subissent des 
transformations mécaniques, physiologiques et hormonales qui peuvent perturber l’équilibre de leur 
corps. Ces manifestions corporelles qu’ils présenteront ne sont donc pas à prendre à la légère :
<ul>
<li>maux de dos</li>
<li>troubles de la concentration</li>
<li>fatigue intense</li>
<li>maux de tête</li>
<li>troubles ORL chroniques (allergies, nez qui coule, otites, bronchites&hellip;)</li>
<li>douleurs de croissance</li>
<li>scolioses</li>
<li>douleurs de règles pour les jeunes filles.</li>
</ul>


<h2>Douleurs liées aux traumatismes de la vie quotidienne</h2>
Les traumatismes répétés (port du cartable, chutes, sport, appareils dentaires&hellip;) peuvent perturber 
la croissance de votre enfant. Il est fortement conseillé de le ramener une à deux fois par an pour 
suivre l’évolution de sa croissance et l’accompagner lors des divers traumatismes rencontrés :
<ul>
<li>maux de dos</li>
<li>douleurs liées à des chutes récentes et/ou à la pratique intensive de sport</li>
<li>prévention de scoliose</li>
<li>séquelles de fractures, entorses, luxations&hellip;</li>
<li>séquelles post-chirurgicales, cicatrices douloureuses anciennes</li>
<li>douleurs liées au port d’un appareil dentaire</li>
<li>troubles de l’occlusion dentaire en complément d’un traitement orthodontique</li>
</ul>

{% endblock %}
