{% extends 'App/layout.html.twig' %}

{% block title %}Ostéopathie entreprise{% endblock %}
{% block description %}Ostéopathie entreprise{% endblock %}

{% block body %}

<h1>Ostéopathie entreprise</h1>

<p>
</p>

{% endblock %}
