{% extends 'App/layout.html.twig' %}

{% block title %}Ostéopathie entreprise - Paris 17ème{% endblock %}
{% block description %}Ostéopathie entreprise - Paris 17ème{% endblock %}

{% block body %}

<h1>Ostéopathie entreprise</h1>

<p></p>

{% endblock %}
