{% extends 'App/layout.html.twig' %}

{% block title %}Osteopahie chez les adultes et les seniors{% endblock %}
{% block description %}Osteopahie chez les adultes et les seniors - Conseils en cas de douleurs{% endblock %}

{% block body %}

L’ostéopathie n’est pas uniquement une thérapeutique visant à soulager les maux de dos comme 
certains le pensent. Il englobe bien d’autres indications qui seront détaillées ci-dessous : 

<ul>
<li><strong>Des atteintes musculo-squelettiques :</strong> douleurs articulaires (genou, cheville, épaule, mâchoire&hellip;), maux de dos, tendinites&hellip;</li>
<li><strong>Des atteintes neurologiques :</strong> céphalées, migraines, fatigues oculaires, sciatiques, cruralgies, névralgies (cervico-brachiales, d’Arnold, intercostales,...)</li>
<li><strong>Des atteintes rhumatologiques :</strong> arthrose, spondylarthrite ankylosante&hellip;</li>
<li><strong>Des atteintes ORL :</strong> inflammations chroniques ORL (sinusites, rhinites&hellip;), allergies, ronflements&hellip;</li>
<li><strong>Des atteintes respiratoires :</strong> asthme, bronchites</li>
<li><strong>Des atteintes digestives :</strong> difficultés à digérer, reflux gastro-œsophagiens, ballonnements, troubles du transit (diarrhées, constipations), syndrome du côlon irritable, hémorroïdes&hellip;</li>
<li><strong>Des atteintes gynéco-urinaires :</strong> douleurs de règles, absences de règles, suivi de grossesse et post-partum, douleurs du coccyx&hellip;
<li>Anxiété, stress, troubles du sommeil&hellip;</li>
</ul>

{% endblock %}
