{% extends 'App/layout.html.twig' %}

{% block title %}Contact ostéopathe{% endblock %}
{% block description %}Contact du cabinet d'ostéopathie Paris 17 ouvert du lundi au samedi. Du nourisson à l'adulte. 06.78.40.97.40{% endblock %}

{% block body %}
<h2>Contacts :</h2>

<span itemprop="name">Cabinet Ostéopathique Paris 17</span><br/>
44 rue de tocqueville, 75017 Paris<br/>


<div class="container-fluid" id="contactmap">
    <div class="row">
        <div class="col-sm-12 col-md-12" id="map-canvas"></div>
    </div>
</div>

<h2>Horaires ouverture :</h2>

<ul class="list-unstyled">
    <li><span class="list-inline-width">Lundi</span>09h-19h</li>
    <li><span class="list-inline-width">Mardi</span>14h-20h</li>
    <li><span class="list-inline-width">Mercredi</span>14h-20h</li>
    <li><span class="list-inline-width">Jeudi</span>09h-19h</li>
    <li><span class="list-inline-width">Vendredi</span>Fermé</li>
    <li><span class="list-inline-width">Samedi</span>09h-12h</li>
</ul>


<h2>Pour accéder au cabinet : </h2>

<ul class="list-unstyled">
    <li>Transiliens et Grandes Lignes : Gare SNCF Pont-Cardinet</li>
    <li><span class="list-inline-width">Métro :</span>2 et 3, station Villiers</li>
    <li><span class="list-inline-width">Bus :</span>30, 31, 53 et 94</li>
</ul>



{% endblock %}
