{% extends 'App/layout.html.twig' %}

{% block title %}Ostéopathie chez les femmes enceintes - Paris 17ème{% endblock %}
{% block description %}Ostéopathie chez les femmes enceintes - Conseils en cas de douleurs - Paris 17ème{% endblock %}

{% block body %}

<h1>Il est conseillé d’aller voir un ostéopathe pour :</h1>

<h2>Douleurs pendant la grossesse</h2>
<p>Lors d’une grossesse, la femme subit des transformations corporelles qui peuvent entrainer des 
douleurs telles que :
<ul>
<li>maux de dos</li>
<li>douleurs au niveau du bas ventre</li>
<li>douleurs au coccyx</li>
<li>sciatalgies (sciatiques, cruralgies&hellip;)</li>
<li>jambes lourdes</li>
<li>douleurs gastriques, troubles digestifs&hellip;</li>
<li>troubles respiratoires</li>
</ul></p>

<h2>Préparation à l’accouchement</h2>
<p>L’ostéopathe va préparer le bassin et toutes les structures avoisinantes pour optimiser le bon 
déroulement de l’accouchement et limiter les risques d’épisiotomie.</p>

<blockquote><p><strong>N.B.</strong> Pensez à ramener vos examens complémentaires et analyses médicales.</p></blockquote>

{% endblock %}
