{% extends 'App/layout.html.twig' %}

{% block title %}Osteopathie chez le nourissons{% endblock %}

{% block body %}

<h1>Il est fortement conseillé de ramener votre nourrisson :</h1>

<h2>Après l’accouchement</h2>
Pendant la grossesse et lors de l’accouchement, le nourrisson subit d’énormes contraintes (stress de 
la maman, mauvaise position du fœtus, forceps, accouchement difficile…..) qui peuvent fragiliser par 
la suite son équilibre physiologique et son développement. Ces atteintes peuvent se manifester de 
plusieurs façons :
<ul>
<li>régurgitions, vomissements</li>
<li>coliques, constipations</li>
<li>pleurs incessants</li>
<li>troubles ORL chroniques (nez qui coule, rhinopharyngites, otites, bronchiolites&hellip;)</li>
<li>troubles de la succion (allaitement difficile)</li>
<li>torticolis (difficultés à tourner la tête d’un côté)</li>
<li>difficultés à l’apprentissage de la marche ou de la parole</li>
</ul>

<blockquote><p><strong>N.B.</strong> N’oubliez pas le carnet de santé et les examens médicaux de bébé.</p></blockquote>


{% endblock %}
