{% extends 'App/layout.html.twig' %}

{% block title %}Le praticien ostéopathe{% endblock %}

{% block body %}

<h1 class="sr-only">Kentis Warren Armoogum, Ostéopathe D.O</h1>

<h2>Diplômée de l’Institut Privé d’Enseignement Ostéopathique (IPEO)</h2>
<p>
<ul class="list-unstyled">
    <li>Etablissement agréé par le Ministère de la Santé, de la Jeunesse et des Sports</li>
    <li>Formation à temps complet dispensée en 5 années</li>
    <li>Formation en ostéopathie traditionnelle, viscérale, cranienne</li>
    <li>Formation en ostéopathie pédiatrique et périnatalité</li>
</ul>
</p>

<h2>Intervention ostéopathique auprès des entreprises et des associations suivantes :</h2>
<p>
<ul class="list-unstyled">
    <li>La vie à domicile (75)</li>
    <li>UMC social prévention (75)</li>
    <li>Handi répit (94)</li>
</ul>
</p>

{% endblock %}