{% extends 'App/layout.html.twig' %}

{% block title %}Déroulement d'une scéance d'ostéopathie - Paris 17ème{% endblock %}
{% block description %}Déroulement d'une scéance d'ostéopathie - Informations - Paris 17ème{% endblock %}

{% block body %}

<h1>La consultation :</h1>

<p>Une séance d’ostéopathie dure environ une heure. Elle est destinée à tous les publics, du bébé à l’adulte.<br/>
La première étape repose sur un entretien personnalisé. Elle permettra à l’ostéopathe d’avoir un premier regard sur les raisons des symptômes du patients.<br/>
Dans un deuxième temps, l’ostéopathe effectuera des tests spécifiques pour détecter le ou les régions du corps qui peuvent altérer l’état physique du patient.<br/>
Enfin, le praticien choisira des techniques de normalisation adaptées pour rééquilibrer le corps du patient et soulager ses maux.

<blockquote><p><strong>N.B.</strong> L’ostéopathe ne peut pas tout traiter. C’est pour cela qu’un examen de non contre-indication sera réalisé pendant la consultation pour exclure toute pathologie qui nécessiterait l’avis d’un médecin.</p>
</blockquote>
</p>

{% endblock %}






