{% extends 'App/layout.html.twig' %}

{% block title %}Ostéopathie chez les sportifs{% endblock %}

{% block body %}

<h1>Il est primordial pour un sportif d’être suivi régulièrement par un corps médical pour éviter la 
fatigue et les pépins physiques. L’ostéopathe aura son rôle à jouer : </h1>

<h2>La prévention </h2>
L’ostéopathie dans le milieu sportif est recommandée tout d’abord dans un but préventif : 
<ul>
<li>bilan ostéopathique avant une nouvelle saison</li>
<li>favoriser la récupération</li>
<li>améliorer les compétences</li>
<li>prévenir le risque de blessures</li>
<li>préparation avant une épreuve sportive</li>
</ul>

<h2>les traumatismes</h2>
Que ce soit dans le milieu professionnel ou dans le milieu amateur, le corps est soumis aux 
traumatismes et microtraumatismes causés par la pratique du sport : 
<ul>
<li>des entorses (chevilles, genoux&hellip;)</li>
<li>des séquelles de déchirures musculaires et ligamentaires</li>
<li>des séquelles de fractures</li>
<li>des séquelles d’antécédents chirurgicaux (douleurs, cicatrices douloureuses&hellip;)</li>
<li>des douleurs articulaires, musculaires&hellip;
<li>tendinites (tennis elbow, pubalgies….), aponévrosites</li>
</ul>

{% endblock %}
