{% extends 'App/layout.html.twig' %}

{% block title %}Osteopathie. Tarif et remboursements{% endblock %}

{% block body %}

<h1>Tarif et remboursements</h1>

<ul class="list-unstyled">
    <li>Consultation au cabinet : <b>50 euros</b></li>
    <li>Consultation à domicile : <b>60 euros</b></li>
    <li>Consultation les Dimanches et jours fériés : <b>80 euros</b></li>
</ul>

<blockquote><strong>N.B.</strong> L’ostéopathie n’est pas prise en charge par la Sécurité Sociale.<br/>
Néanmoins, depuis la reconnaissance de notre profession en 2002, de plus en plus de mutuelles remboursent une partie voire l’intégralité de la consultation
(pour savoir si la vôtre en fait partie, je vous invite donc à vous informer auprès de votre complémentaire mutuelle.)
</p></blockquote>

{% endblock %}
